<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GridSize" value="32" />
    <add key="RoundRatio" value="0.6" />
    <add key="PenWidth" value="2" />
    <add key="FontSize" value="20" />
    <add key="PenColor" value="-16777216" />
    <add key="BrushColor" value="65280" />
    <add key="FontColor" value="16711680" />
  </appSettings>
</configuration>